p {
    margin-bottom: 20px;
}


.cedula select.tomo{
    display: flexbox;
    width: 160px;
    padding: 8px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.cedula input[type="text"] {
    display: flexbox;
    width: 30%;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.datos label.nombre{
    display: flexbox;
}

.datos input.nombre {
    display: block;
    width: 260px;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.datos label.apellido{
    display: flexbox;
}

.datos input.apellido {
    display: block;
    width: 260px;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}



.datos select.provincia {
    display: flexbox;
    width: 190px;
    padding: 8px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.datos select.distrito {
    display: flexbox;
    width: 190px;
    padding: 8px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.datos select.corregimiento {
    display: flexbox;
    width: 230px;
    padding: 8px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}



